{
  NSExecutable = "GlobalMenu";
  NSPrincipalClass = "GlobalMenuTheme";
  GSThemeAuthors = (
	"Niels Grewe",
  );
  GSThemeDetails = "Theme that enables the global menu with Mac-style interface without reparenting";
  GSThemeDomain = {
	NSMenuInterfaceStyle = NSMacintoshInterfaceStyle;
	GSSuppressAppIcon = YES;
  };
}
